@{
    ViewBag.Title = "Comic Creator";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<style>
    a:hover {
        text-decoration: none;
    }

    h2 {
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 15px #2d2d2d;
    }

    .scene-main-container {
        padding: 50px 0;
    }

    .scene-garden {
        background-image: url('../Content/img/scenarios/garden.jpg');
        background-size: cover;
        background-position: center;
        padding: 150px 0;
    }

    .scene-classroom {
        background-image: url('../Content/img/scenarios/classroom.jpg');
        background-size: cover;
        background-position: center;
        padding: 150px 0;
    }

    .scene-mall {
        background-image: url('../Content/img/scenarios/mall.jpg');
        background-size: cover;
        background-position: center;
        padding: 150px 0;
    }

    .scene-container {
        height: 100%;
        transition: .25s ease-in-out;
        transform: scale(.95);
    }

        .scene-container:hover {
            transform: scale(1);
        }
</style>

<div class="container-fluid no-gutter">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h1>Sample text here...</h1>
            </div>
        </div>
    </div>
</div>
<div class="container scene-main-container">
    <div class="row">
        <div class="col">
            <h4>Step 1: Choose a scenario</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 border card scene-garden scene-container text-center">
            <a href="@Url.Action("PanelCount", "Creator", new { scenarioID = 1 })">
                <h2>Garden</h2>
            </a>
        </div>
        <div class="col-lg-4 border card scene-classroom scene-container text-center">
            <a href="@Url.Action("PanelCount", "Creator", new { scenarioID = 2 })">
                <h2>Classroom</h2>
            </a>
        </div>
        <div class="col-lg-4 border card scene-mall scene-container text-center">
            <a href="@Url.Action("PanelCount", "Creator", new { scenarioID = 3 })">
                <h2>Mall</h2>
            </a>
        </div>
    </div>
</div>

