@{
    ViewBag.Title = "Comic Creator";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<style>
    .scene-main-container {
        padding: 50px 0;
    }

    .scene-garden {
        background-image: url('../Content/img/scenarios/garden.jpg');
        background-size: cover;
        background-position: center;
        padding: 150px 0;
    }

    .scene-classroom {
        background-image: url('../Content/img/scenarios/classroom.jpg');
        background-size: cover;
        background-position: center;
        padding: 150px 0;
    }

    .scene-mall {
        background-image: url('../Content/img/scenarios/mall.jpg');
        background-size: cover;
        background-position: center;
        padding: 150px 0;
    }
</style>

<div class="container-fluid no-gutter">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h1>Do you want to create your own comics?</h1>
                <h4 class="disabled">Just follow these easy steps!</h4>
            </div>
        </div>
    </div>
</div>
<div class="container scene-main-container">
    <div class="row">
        <div class="col">
            <h4>Step 1: Choose a scenario</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 border card scene-garden">
            <a href="@Url.Action("PanelCount", "Creator", new { scenarioID = 1 })">
                Garden
            </a>
        </div>
        <div class="col-lg-4 border card scene-classroom">
            <a href="@Url.Action("PanelCount", "Creator", new { scenarioID = 2 })">
                Classroom
            </a>
        </div>
        <div class="col-lg-4 border card scene-mall">
            <a href="@Url.Action("PanelCount", "Creator", new { scenarioID = 3 })">
                Mall
            </a>
        </div>
    </div>
</div>

