@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@using ComicCreator.Models;
@model Creator

<link href="../Content/css/jquery-ui.css" rel="stylesheet" />

<style type="text/css">

    .pnl
    {
        height: auto;
    }

    .pnlimage
    {
        width:100%;
        height: 400px;
        overflow: hidden;
    }

    .dmDivHolder
    {
        position: relative;
        width: 100%;
        height: 100%; 
        border: 2px solid red;
        overflow: hidden;   
    }

    .imgContext
    {
        width: 60px; 
        height: 60px;
    }

    .createdImgDivStyle
    {
        width: 20%; 
        height: 40% auto; 
        position: absolute; 
        top: 40%; 
        left: 10%; 
        z-index: 1;
    }

    .createdDialogDivStyle
    {
        background: white;
        border: 3px solid black;
        border-radius: 20px;
        padding: 15px;
        width: auto; 
        height: auto;
        min-width: 30%;
        min-height: 30%;
        max-height: 50%;
        max-width: 50%;
        position: absolute; 
        top: 40%; 
        left: 10%; 
        text-align: center;
        z-index: 1;
        margin: 0;
    }

    .createdImgDivStyle:hover, .createdDialogDivStyle:hover
    {
        cursor: move;
    }

    .dynamicImgDialog
    {
        position: absolute;
        top: -100px; 
        left: -200px;
        width: 210%; 
        height: 210%; 
    }

    .dynamicTxtAreaStyle
    {
        position: relative;
        top: 0;
        margin: 0;
        border: none; 
        resize: none; 
        width: 100%; 
        outline: none; 
        height: 100% auto;
        max-height: 200px;
        overflow: hidden; 
        font-size: 1em;
    }

    .removebtnStyle{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .ui-resizable-helper{
        border: 2px dotted black;
    }

</style>

<style type="text/css">
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    z-index: 99;
}
</style>



<div class="container">
    <div class="row">
        <div class="col">
            <h2>@Model.scenarioName.Trim()</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
            <button class="btn btn-primary">Publish/Print</button>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        @(new HtmlString(@Model.htmlDefaultPanel))
    </div>
</div>
<br />
<br />
<br />


<br />
<br />
<br />
<br />
<br />
<br />


<script>

    









    function PopupMenu(e)
    {
        var btn = $(e).find('div').attr('id');
        var popup = document.getElementById(btn);
        popup.classList.toggle("show");
    }

    function AddPeople(e)
    {
        var src = $(e).find('img').attr('src');
        var name = $(e).find('img').attr('name');
        var imgid = $(e).find('img').attr('id');
        var divholder = document.getElementById("dh" + name);
        var nImgId = imgid + "_" + name;
        var nRmvImgId = "rmv_img_" + imgid + "_" + name;
        var nDivId = "div_" + imgid + "_" + name;

        // check if img already exist
        var checkImgId = document.getElementById(nImgId);
        if (checkImgId) {
            alert("Person Already Used!");
        } else {
            // create div first
            var ddiv = document.createElement("div");
            ddiv.setAttribute("id", nDivId);
            ddiv.setAttribute("class", "createdImgDivStyle");

            // create img
            var dimg = document.createElement("img");
            dimg.setAttribute("src", src);
            dimg.setAttribute("id", nImgId);
            dimg.setAttribute("style", "width: 100%; height: 100%;");

            ddiv.append(dimg);
            divholder.append(ddiv);
            
            // this is for remove element right click function
            $("#" + nRmvImgId).hide();
            $("#" + nImgId).bind('contextmenu', function (e) {
                return false;
            });
            $("#" + nImgId).mousedown(function (event) {
                switch (event.which){
                    case 3:
                        //$("#" + nRmvImgId).toggle();

                        var rmvMsg = confirm("Do you want to delete the image?");
                        if (rmvMsg == true) {
                            $("#" + nDivId).remove();
                            $("#" + nImgId).remove();
                        }
                        break;
                }
            });
            // end for remove element right click function

            $("#" + nDivId).resizable({ aspectRatio: true, autohide: true, animate: true, maxHeight: 300, maxWidth: 300, minHeight: 120, minWidth: 120 });
            $("#" + nDivId).draggable({ containment: divholder });
        }
    }

    function AddDialog(e)
    {
        var src = $(e).find('img').attr('src');
        var name = $(e).find('img').attr('name');
        var imgid = $(e).find('img').attr('id');
        var divholder = document.getElementById("dh" + name);
        var nTxtId = "txt_d" + "_" + name;
        var nDivId = "div_d" + "_" + name;

        // check if id exist, if exist add increment to id


        // create div first
        var ddiv = document.createElement("div");
        ddiv.setAttribute("id", nDivId);
        ddiv.setAttribute("class", "createdDialogDivStyle");
        
        // create img
        var dimg = document.createElement("img");
        dimg.setAttribute("id", nImgId);
        dimg.setAttribute("src", src);
        dimg.setAttribute("class", "dynamicImgDialog");

        // create textarea
        var dtxt = document.createElement("textarea");
        dtxt.setAttribute("id", nTxtId);
        dtxt.setAttribute("maxlength", "100");
        dtxt.setAttribute("class", "dynamicTxtAreaStyle");
        //dtxt.addEventListener("keydown", textareaAutosize(dtxt));

        //ddiv.append(dimg);
        ddiv.append(dtxt);
        divholder.append(ddiv);

        $("#" + nDivId).resizable({ autohide: true, animate: true });
        $("#" + nDivId).draggable({ containment: divholder });
        $("#" + nTxtId).autogrow({vertical: true, horizontal: false});
    }

    function textareaAutosize(t) {
        //alert(t.scrollHeight);
        //alert($(e).find('img').attr('name'));
        //t.height(this.scrollHeight);
        //txt.css({ "height": txt.scrollHeight + "px" });
        //div.css({ "height": txt.scrollHeight + "px" });
    }


</script>

<script src="../Content/js/jquery-1.12.4.js"></script>
<script src="../Content/js/jquery-ui.js"></script>
<script src="../Content/js/jquery.ns-autogrow.min.js"></script>